/* force lowercase for builder.fi */
.MuiButton-root,
.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiInput-input,
.MuiFormHelperText-root {
	text-transform: lowercase;
}

@keyframes revealKey {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
