/* force lowercase for builder.fi */
.MuiButton-root {
	text-transform: lowercase;
}

.MuiTypography-h1 {
	text-transform: lowercase;
}

.MuiTypography-h2 {
	text-transform: lowercase;
}

.MuiTypography-h3 {
	text-transform: lowercase;
}

@keyframes revealKey {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
