* {
	text-transform: lowercase !important;
}

.remove-text-transform {
	text-transform: none !important;
}

.remove-text-transform > * {
	text-transform: none !important;
}

@keyframes revealKey {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
